.productdisplay {
  margin: 50px 50px;
  display: flex;
  justify-content: center;
}
.productdisplay-left {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.img_container {
  display: flex;
  justify-content: center;
}
.img_container img {
  width: 20rem;
  height: 100%;
}
.img-list {
  display: flex;

  gap: 20px;
}
.img-list img {
  width: 20rem;
  height: 100%;
}
.productdisplay-right {
  display: flex;
  margin: 0px 70px;
  flex-direction: column;
}

.productdisplay-right-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.fav-icon {
  display: flex;
  justify-content: flex-start;
}

.productdisplay-right h3 {
  font-weight: 600;
}
.productdisplay-right-star {
  display: flex;

  align-items: center;
  gap: 5px;
}
.productdisplay-right-size p {
  font-weight: 600;
}
.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;

  gap: 30px;
}
.producttitle {
  margin: 0;
}
.productdisplay-right-sizes button:hover {
  background-color: black;
  color: white;
  font-weight: 900;
}
.productdisplay-right-price p {
  font-size: 20px;
}
.productdisplay-right-sizes button {
  width: 90px;
  height: 35px;
  background-color: white;
  border: 0.3px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
.productdisplay-right-description p {
  max-width: 500px;
  line-height: 1.5rem;
  font-size: 15px;
}

.product-cta {
  padding: 20px 30px;
  width: 300px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: black;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productdisplay-right-store {
  display: flex;
  align-items: center;
  gap: 2px;
}

.productdisplay-right-members {
  display: flex;
  align-items: center;
  gap: 2px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 400px;
}
.mySwiper {
  height: 500px;
  width: 300px;
}
.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 500px;
  margin: 20px auto;
}
.swiperText {
  font-size: 20px;
  justify-content: left;
  margin-left: 50px;
}
.swipe_products {
  height: 900px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swipeProductCard_img img {
  width: 250px;
  height: 100%;
}
.check {
  height: 100%;
  width: 250px;
  background-color: white;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.swipeProduct_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-left: 20px;
}
h4 {
  font-size: 30px;
}
.swipe-price {
  font-size: 13px;
}
