.products_container {
  margin-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all_list {
  margin-left: 30px;
}

.loadmore_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.loadmore_button::after {
  background-color: white;
  color: black;
}
