.cartItem_wrapper {
  margin-left: 50px;
  background-color: white;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.cartItem_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartItem_text {
  display: flex;

  flex-direction: column;
}

.cartItem_img img {
  width: 150px;
  height: 200px;

.cartItem_title {
  font-weight: 600;
  align-self: flex-start;
}
.cartItem_price {
  font-weight: 600;
}
.count_input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60px; /* Adjust the width as needed */
}
.favourite_icon {
  padding-top: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60px;
  display: flex;
  justify-content: center;
}
.cartItem_icon {
  display: flex;
  justify-content: center;
}
.interaction {
  display: flex;
  gap: 10px;
}
.delete_button {
  align-self: flex-start;
  padding: 20px;
  align-self: flex-start;
}
