.wrapper {
  margin-left: 50px;
  background-color: white;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}
.content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_text {
  display: flex;

  flex-direction: column;
}
.img_container {
  height: 90%;
  width: 200px;
}
.img_container img {
  width: 100%;
  padding: 20px;
  height: 100%;
  object-fit: scale-down;
}
.item_title {
  font-weight: 600;
  align-self: flex-start;
}
.item_price {
  font-weight: 600;
}
.count_input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60px; /* Adjust the width as needed */
}
.favourite_icon {
  padding-top: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60px;
  display: flex;
  justify-content: center;
}
.interaction {
  display: flex;
  gap: 10px;
}
.delete_button {
  padding: 20px;
  align-self: flex-start;
}
