.checkout_container {
  background-color: white;
  width: 350px;
  margin-right: 50px;
  padding: 30px;
}
p {
  font-size: 13px;
}
.discount_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout_login {
  flex-direction: column;
  align-items: start;
}
.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

button {
  width: 100%;
  height: 47px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
}
.price_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery_info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.checkout_total {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card_img {
  display: flex;
  gap: 10px;
}
.card_img img {
  width: 40px;
  height: 40px;
}
.paypal img {
  width: 60px;
  height: 40px;
}
.card_text {
  font-size: 13px;
}
.grey {
  color: rgb(111, 110, 110);
}

.checkout_continue button {
  background-color: black;
  color: white;
  cursor: pointer;
}
.checkout_continue button:active {
  background-color: white;
  color: black;
  cursor: pointer;
}
.returnpolicy p {
  margin-top: 20px;
  font-size: 11px;
}
