.shopping_wrapper {
  height: auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-size: 13px;
}

.img_shopping img {
  width: 70px;
  height: 100px;
}
.shopping_text {
  line-height: 0.3rem;
  font-weight: 600;
}
.shopping_qty {
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
}
