.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.nav_left ul {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 10px;
  font-size: 13px;
}

.nav_right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  gap: 10px;
  font-size: 13px;
}
.nav a {
  text-decoration: none;
  color: black;
}

img {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
